{% extends 'shop0c/adminbase.html' %}

{% block title %}管理者ログイン{% endblock %}

{% block content %}
<h1>管理者ログイン</h1>

<div class="card narrow">
    <div class="card__body">
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}

        <form action="{% url 'shop0c:admin_login' %}" method="POST">
            {% csrf_token %}
            <table>
                {% for field in form %}
                    <tr>
                        <th>{{ field.label }}：</th>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">
                        <div class="form-actions">
                            <input type="submit" value="ログイン">
                        </div>
                    </td>
                </tr>
            </table>
        </form>

        <p class="page-links"><a href="{% url 'shop0c:main' %}">商品検索へ</a></p>
    </div>
</div>
{% endblock %}
