{% extends 'shop0c/adminbase.html' %}

{% block title %}商品削除の確認{% endblock %}

{% block content %}
<h1>以下の商品を削除しますか？</h1>

<div class="card narrow">
    <div class="card__body">
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}

        <table>
            <tr>
                <th>商品ID</th>
                <td>{{ item.item_id }}</td>
            </tr>
            <tr>
                <th>商品名</th>
                <td>{{ item.name }}</td>
            </tr>
            <tr>
                <th>カテゴリ</th>
                <td>{{ item.category.name }}</td>
            </tr>
            <tr>
                <th>メーカー</th>
                <td>{{ item.manufacturer }}</td>
            </tr>
            <tr>
                <th>色</th>
                <td>{{ item.color }}</td>
            </tr>
            <tr>
                <th>価格</th>
                <td>{{ item.stock }}</td>
            </tr>
            <tr>
                <th>在庫数</th>
                <td>{{ item.stock }}</td>
            </tr>
        </table>

        <form action="{% url 'shop0c:item_delete' item.item_id %}" method="POST">
            {% csrf_token %}
            <div class="form-actions">
                <input type="submit" value="削除">
            </div>
        </form>

        <p class="page-links"><a href="{% url 'shop0c:item_list' %}">商品一覧へ</a></p>
    </div>
</div>
{% endblock %}
