{% extends 'shop0c/adminbase.html' %}

{% block title %}管理者メインページ{% endblock %}

{% block content %}
<h1>管理者メインページ</h1>

<div class="card narrow">
    <div class="card__body">
        <p>管理者ID：{{ admin_id }}</p>

        <p class="page-links">
            <a href="{% url 'shop0c:item_list' %}">商品一覧</a>
            <a href="{% url 'shop0c:item_register' %}">商品登録</a>
        </p>

        <p>
            <a href="{% url 'shop0c:admin_purchase_history' %}">購入履歴一覧</a>
        </p>

        <p class="page-links">
            <a href="{% url 'shop0c:admin_logout' %}">ログアウト</a>
            <a href="{% url 'shop0c:main' %}">商品検索画面へ</a>
        </p>
    </div>
</div>
{% endblock %}
