{% extends 'shop0c/base.html' %}

{% block title %}会員登録{% endblock %}

{% block content %}
<h1>会員情報を入力してください</h1>

<div class="card narrow">
    <div class="card__body">
        <form action="{% url 'shop0c:registerUser' %}" method="POST">
            {% csrf_token %}
            <table>
                {% for register in form %}
                    <tr>
                        <th>{{register.label}}</th>
                        <td>
                            {{register}}
                        </td>
                    </tr>
                {% endfor %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p>{{error}}</p>
                    {% endfor %}
                {% endif %}
                <tr>
                    <td>
                        <div class="form-actions">
                            <input type="submit" class="btn-square" value="登録確認">
                        </div>
                    </td>
                </tr>
            </table>
        </form>

        <p class="page-links"><a href="{% url 'shop0c:login' %}">商品検索へ</a></p>
    </div>
</div>
{% endblock %}
